################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Yahtzeev1/Yahtzeev1/obj/Release/Yahtzeev1.vbproj.CoreCompileInputs.cache
/.vs/slnx.sqlite
/Yahtzeev1/.vs/Yahtzeev1/v15/Server/sqlite3/storage.ide-wal
/Yahtzeev1/.vs/Yahtzeev1/v15/Server/sqlite3/storage.ide-shm
/Yahtzeev1/.vs/Yahtzeev1/v15/Server/sqlite3/storage.ide
/Yahtzeev1/.vs/Yahtzeev1/v15/Server/sqlite3/db.lock
/Yahtzeev1/.vs/Yahtzeev1/v15/.suo
/.vs/Yahtzee/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
