################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Yahtzeev1/Yahtzeev1/obj/Release/Yahtzeev1.vbproj.CoreCompileInputs.cache
